.blogs {
    margin-top: 140px;

    &__title {
        text-align: center;
    }

    &__descr {
        margin-top: 21px;
        text-align: center;
    }
    
    &__grid {
        margin-top: 70px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        gap: 40px 20px;

        padding-bottom: 40px;
    }

    &-item {
        border-radius: 62px;
        border: 1px solid #E7E7E7;
        padding: 20px 20px 40px;

        &__img {
            border-radius: 45px 45px 0px 0px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px 8px 8px 0px;
                width: 139px;
                height: 44px;
                background: #FFF;
                position: absolute;
                bottom: 29px;
                left: 24px;

                color: #4D5053;
                font-size: 15px;
                line-height: 24px; 
                letter-spacing: 0.22px;
            }
        }

        &__title {
            margin-top: 15px;
            color: #292F36;
            font-family: $dm;
            font-size: 25px;
            line-height: 35px; 
            letter-spacing: 0.5px;
        }

        &__bottom {
            margin-top: 10px;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__link {
            width: 52px;
            height: 52px;
            border-radius: 100%;
            background: #F4F0EC;

            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}